@page "/prototyp"

<PageTitle>Prototyp</PageTitle>

<h3>Prototyp</h3>
<head>

</head>

<body>

   
    


    <table class="btn-group" width="800px">
        <tbody>
            
                <tr >
                    <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:100%">3</button>
                    </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">2</button>
                        <br />
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">4</button>
                    </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">1</button>
                        <br/>
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">5</button>
                    </td>
                </tr>
            <tr>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:100%">8</button>
                </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">7</button>
                    <br />
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">9</button>
                </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">6</button>
                    <br />
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">10</button>
                </td>
            </tr>
            <tr>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:100%">13</button>
                </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">12</button>
                    <br />
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">14</button>
                </td>
                <td width="200px" height="100px">
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">11</button>
                    <br />
                    <button type="button" class="btn btn-primary" style="width:100%; height:50%">15</button>
                </td>
            </tr>
            
        </tbody>
    </table>

    <style>
        .btn:active {
            background-color: #ff0000;
            width:100px;
        }

        .btn:focus {
            background-color: #ff0000;
            width:100px;
        }
    </style>

</body>


@code {
    
    
    
}
